version: "3.9"

services:

  backend:
    build: ./backend
    container_name: laravel_app
    volumes:
      - ./backend:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:latest
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - ./backend:/var/www
      - ./frontend/dist:/var/www/public
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - backend

  frontend:
    build: ./frontend
    container_name: vue_app
    volumes:
      - ./frontend:/app
    ports:
      - "5173:5173"
    command: npm run serve

  db:
    image: postgres:15
    container_name: pgsql_db
    restart: always
    environment:
      POSTGRES_DB: intrayc
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: root
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgintradmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: aminelebrini4@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin123
      POSTGRES_DB: intrayc
    ports:
      - "5058:80"
    depends_on:
      - db
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pgdata:
  pgadmin_data: