services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
      network: host
      args:
        UID: 1000
        GID: 1000
    container_name: ${CONTAINER_NAME}
    volumes:
      - ./backend:/var/www
    ports:
      - "${CONTAINER_PORT}:8000"
    depends_on:
      - postgres
    dns:
    - 8.8.8.8
    - 1.1.1.1

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: ${FONT_END_CONTAINER_NAME}
    volumes:
      - ./frontend:/app
    ports:
      - "${FONT_END_CONTAINER_PORT}:5173"
    depends_on:
      - backend
    dns:
      - 8.8.8.8
      - 1.1.1.1


  postgres:
    image: postgres:15
    container_name: ${DB_CONTAINER_MAME}
    restart: always
    environment:
      POSTGRES_DB: ${DB_DATABASE}
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: ${PGADMIN_CONTAINER_NAME}
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "${PGADMIN_PORT}:80"
    depends_on:
      - postgres

volumes:
  pgdata:
